/*** Image position and animation ***/
.howToImg {
    position: absolute;
    width: 720.52px;
    height: 679.39px;
}
.howToRunIn-enter-active {
    animation: howTo-run-in;
	animation-duration: 2.3s;
}
.howToRunIn-leave-active {
    animation: howTo-run-in 0.5s reverse;
}
@keyframes howTo-run-in {
	0% {
		margin-left: -100%;
	}
	100% {
		margin-left: 0;
	}
}
/*** Text ***/
.howToTitle {
    position: absolute;
    width: 265px;
    height: 50px;
    margin-left: 777.61px;
    margin-top: 96.19px;
    /* text */
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #EE4D47;
}

.howToText {
    position: absolute;
    width: 455px;
    height: 287px;
    margin-left: 777.61px;
    margin-top: 186.19px;
    /* text */
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;

    color: #402B2B;
}