.topLogoImgClass {
	position: absolute;
	width: 11%;
	min-width: 100px;
	/* height: 5.25%; */
	margin-top: 2.78%;
	margin-left: 13.35%;

	fill: Solid #FFFFFF;
}

.ajustImgClass {
	width: 100%;
	height: 100%;
}

.topMenuBar {
	position: absolute;
	width: 31.85%;
	height: 4.8%;
	margin-top: 2.78%;
	margin-left: 41.35%;
}

.aboutMenuBtn {
	position: absolute;
	width: 9.76%;
	height: 31.66%;
	margin-top: 2.85%;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 2.1vh;
	line-height: 19px;
	line-height: 100%;
	letter-spacing: 5%;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	border: none;
	background: none;
}
.aboutMenuBtn:hover {
	color: #978888;
}

.howToMenuBtn {
	position: absolute;
	width: 12.41%;
	height: 31.66%;
	margin-top: 2.85%;
	margin-left: 29%;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 2.1vh;
	line-height: 19px;
	line-height: 100%;
	letter-spacing: 5%;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	border: none;
	background: none;
}
.howToMenuBtn:hover {
	color: #978888;
}

.faqsMenuBtn {
	position: absolute;
	width: 9.76%;
	height: 31.66%;
	margin-top: 2.85%;
	margin-left: 55%;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 2.1vh;
	line-height: 19px;
	line-height: 100%;
	letter-spacing: 5%;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	border: none;
	background: none;
}
.faqsMenuBtn:hover {
	color: #978888;
}

.contactMenuBtn {
	position: absolute;
	width: 28%;
	height: 100%;
	margin-left: 80%;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 1.4vh;
	line-height: 2vh;
	line-height: 100%;
	letter-spacing: 5%;
	letter-spacing: 1.5px;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	background-color: #EE4D47;
	fill: Solid #EE4D47;
	border: none;
	border-radius: 5px;
}
.contactMenuBtn:hover {
	background-color: #ce251f;
}

.topTextBox {
	position: absolute;
	width: 39%;
	height: 24%;
	margin-top: 24vh/* 10.6% */;
	margin-left: 13.35%;
	color: #FFFFFF;
	font-family: DmSerifDisplay;
	font-weight: 400;
	font-style: normal;
	font-size: 6.52vw;
	line-height: 100%;
	align-content: Left;
	vertical-align: center;

	fill: Solid #FFFFFF;
}

.GetStartedBtn {
	position: relative;
	width: 13.5%;
	height: 60px;
	margin-top: 69.25vh;/* 30.5%; */
	margin-left: 13.35%;
	
	color: #FFFFFF;
	background-color: #EE4D47;
	fill: Solid #EE4D47;
	border: none;
	border-radius: 5px;
}
.GetStartedBtn:hover {
	background-color: #ce251f;
}

.GetStartedBtnText {
	font-family: Rubik;
	font-weight: 700;
	font-style: bold;
	font-size: 2vh;
	align-content: left;
	line-height: 18.9px;
	line-height: 100%;
	letter-spacing: 5%;
	letter-spacing: 1.5px;
	padding: 0;
}

.GetStartedBtnImg {
	width: 29.5px;
	height: 12.35px;
	margin-left: 5%;
	motion-rotation: 0deg;
}
/*** Model car position and animation ***/
.modelTopCar {
	position: absolute;
	margin-top: 22vh/* 10.5% */;
}

.modelImgClass {
 	width: 39vw;
}

.topRunIn-enter-active {
	animation: top-run-in;
	animation-duration: 3s;
}
.topRunIn-leave-active {
	animation: top-run-in 0.75s reverse;
}
@keyframes top-run-in {
	0% {
		margin-left: -100%;
	}
	100% {
		margin-left: 0px;
	}
}