.topLogoImg {
	position: absolute;
	width: 212px;
	height: 50px;
	margin-top: 50px;
	margin-left: 240px;

	fill: Solid #FFFFFF;
}

.topMenuBar {
	position: absolute;
	width: 604px;
	height: 60px;
	margin-top: 50px;
	margin-left: 744px;
}

.aboutMenuBtn {
	position: absolute;
	width: 59px;
	height: 19px;
	margin-top: 11px;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	line-height: 100%;
	letter-spacing: 5%;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	border: none;
	background: none;
}
.aboutMenuBtn:hover {
	color: #978888;
}

.howToMenuBtn {
	position: absolute;
	width: 75px;
	height: 19px;
	margin-top: 11px;
	margin-left: 156px;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	line-height: 100%;
	letter-spacing: 5%;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	border: none;
	background: none;
}
.howToMenuBtn:hover {
	color: #978888;
}

.faqsMenuBtn {
	position: absolute;
	width: 59px;
	height: 19px;
	margin-top: 11px;
	margin-left: 325px;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	line-height: 100%;
	letter-spacing: 5%;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	border: none;
	background: none;
}
.faqsMenuBtn:hover {
	color: #978888;
}

.contactMenuBtn {
	position: absolute;
	width: 158px;
	height: 55px;
	margin-left: 446px;
	/* Text properties */
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	line-height: 100%;
	letter-spacing: 5%;
	letter-spacing: 1.5px;
	align-content: center;
	vertical-align: center;

	color: #FFFFFF;
	background-color: #EE4D47;
	fill: Solid #EE4D47;
	border: none;
	border-radius: 5px;
}
.contactMenuBtn:hover {
	background-color: #ce251f;
}

.topTextBox {
	position: absolute;
	width: 741px;
	height: 300px;
	margin-top: 190px;
	margin-left: 240px;
	color: #FFFFFF;
	font-family: DmSerifDisplay;
	font-weight: 400;
	font-style: normal;
	font-size: 100px;
	line-height: 100px;
	line-height: 100%;
	align-content: Left;
	vertical-align: center;

	fill: Solid #FFFFFF;
}

.GetStartedBtn {
	width: 220px;
	height: 60px;
	position: relative;
	margin-top: 550px;
	margin-left: 240px;
	
	color: #FFFFFF;
	background-color: #EE4D47;
	fill: Solid #EE4D47;
	border: none;
	border-radius: 5px;
}
.GetStartedBtn:hover {
	background-color: #ce251f;
}

.GetStartedBtnText {
	font-family: Rubik;
	font-weight: 700;
	font-style: bold;
	font-size: 16px;
	align-content: left;
	line-height: 18.9px;
	line-height: 100%;
	letter-spacing: 5%;
	letter-spacing: 1.5px;
	padding: 0;
}

.GetStartedBtnImg {
	width: 29.5px;
	height: 12.35px;
	margin-left: 24px;
	motion-rotation: 0deg;
}
/*** Model car position and animation ***/
.modelTopCar {	
	margin-top: 186.81px;
}

.rollIn-enter-active {
	animation: roll-in;
	animation-duration: 3s;
}
.rollIn-leave-active {
	animation: roll-in 0.5s reverse;
}
@keyframes roll-in {
	0% {
		margin-left: -600px;
	}
	100% {
		margin-left: 0px;
	}
}